{% extends 'base.html' %} 
{% block content %}
<div style="background-image: linear-gradient(red, yellow);" >
  <h1 style="text-align: center;">Your Poke Deck</h1>
  {% for poke in pokes %}
  {% if pokes %}
  <div class="card mx-auto pokecards"  style="width: 30rem;">
    <img class="card-img-top" src="{{poke['sprite']}}"alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Name: {{poke['name']}}</h5>
      <p class="card-text">Ability Name: {{poke['ability_name']}}</p>
      <p class="card-text">Base Experience: {{poke['base_experience']}}</p>
      <p class="card-text">Attack Base Stat: {{poke['base_stat_attack']}}</p>
      <p class="card-text">HP Base Stat: {{poke['base_stat_hp']}}</p>
      <p class="card-text">Defense Base Stat: {{poke['base_stat_defense']}}</p>
      <a class='btn btn-outline-dark btn-danger btn- lg' href="/view_pokedeck/release/{{poke.name}}">Release</a>
  </div>
  {% endif %} 
  {% endfor %}
</div>
{% endblock %}
