{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 18rem;">
  <!-- {{form.hidden_tag()}}
    {{form.search(response.json()['sprites']['front_default'])(class="card-img-top")}} -->
    <div class="card-body">
      <!-- {{name.name(class="card-title")}}
      <p>{{search.ability_name(class="card-text")}}</p>
      <p>{{search.base_experience(class="card-text")}}</p>
      <p>{{search.sprite(class="card-text")}}</p>
      <p>{{search.attack_base_stat(class="card-text")}}</p>
      <p>{{search.hp_base_stat(class="card-text")}}</p>
      <p>{{search.defense_base_stat(class="card-text")}}</p> -->
      
      <a href="#" class="btn btn-primary">Search another Pokemon</a>
    </div>
  </div>

  {% endblock %}